@model Sitecore.AspNetCore.Starter.Models.PageContent

<div class="component content @Model.Styles" id="@Model.Id">
    <div class="component-content">
        @if (Model.Content != null)
        {
            <sc-text asp-for="@Model.Content"></sc-text>
        }
        else
        {
            <div class="field-content">[Content]</div>
        }
    </div>
</div>