@charset "UTF-8";
    
body {
  font-family: Roboto;
  color: #27272A;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
main .main-header {
  margin-top: 55px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 992px) {
  main .main-header {
    margin-bottom: 0;
  }
}
main .main-header h4 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}
main .main-news-header {
  margin-top: 60px;
}
main .main-news-header h2 {
  font-size: 36px;
  line-height: 43px;
}
@media only screen and (max-width: 992px) {
  main {
    padding-top: 0;
    margin-bottom: 0;
  }
  main .main-header {
    margin-top: 10px;
  }
  main .main-header h4 {
    font-size: 24px;
    line-height: 32px;
  }
  main .main-news-header {
    padding-bottom: 35px;
  }
  main .main-news-header h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

/* breakpoints */
.prod-mode #header {
  display: flex;
}
@media only screen and (max-width: 992px) {
  .prod-mode #header {
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}

header #header .bs-title {
  padding-left: 50px;
}
header #header .bs-title h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
  padding-top: 40px;
  margin: 0;
}
@media only screen and (max-width: 992px) {
  header #header {
    padding-bottom: 0;
    padding-top: 0;
    flex-direction: column-reverse;
  }
  header #header .bs-title {
    padding-left: 0;
    text-align: center;
    margin-top: -5px;
  }
  header #header .bs-title h1 {
    font-weight: 500;
    line-height: 29px;
    padding-top: 0;
    margin-bottom: 10px;
  }
}

/* breakpoints */ /**PROMO**/
.promo.main-promo-no-border {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 80px;
}
@media only screen and (max-width: 992px) {
  .promo.main-promo-no-border {
    margin-bottom: 0;
  }
}
.promo.main-promo-no-border > .component-content {
  border: 0;
  max-width: 583px;
  margin-right: 50px;
}
.promo.main-promo-no-border > .component-content > div {
  padding-bottom: 0;
}
@media only screen and (max-width: 992px) {
  .promo.main-promo-no-border > .component-content {
    max-width: 100%;
    margin-right: 0;
  }
}
.promo.main-promo-no-border > .component-content .promo-text .field-promotext {
  font-size: 14px;
}
.promo.main-promo-no-border > .component-content .promo-text .field-promotext h3 {
  font-size: 18px;
  margin: 15px 0;
}
@media only screen and (max-width: 992px) {
  .promo.main-promo-no-border > .component-content .promo-text .field-promotext h3 {
    margin: 10px 0;
  }
}
.promo.main-promo-no-border > .component-content .promo-text .field-promotext p {
  margin: 10px 0;
}
@media only screen and (max-width: 992px) {
  .promo.main-promo-no-border > .component-content > div {
    padding: 0;
  }
  .promo.main-promo-no-border > .component-content .promo-text {
    padding: 15px 30px 5px 30px;
  }
}

.navigation .menu-mobile-navigate-wrapper {
  width: 100%;
}

.navigation.navigation-horizontal {
  width: 100%;
  padding-right: 70px;
  margin-top: -15px;
}
.navigation.navigation-horizontal .menu-mobile-navigate {
  display: none;
}
@media only screen and (max-width: 992px) {
  .navigation.navigation-horizontal {
    padding-right: 0;
  }
}
.navigation.navigation-horizontal .component-content {
  display: inline-block;
}
@media only screen and (max-width: 992px) {
  .navigation.navigation-horizontal .component-content {
    display: none;
  }
}
.navigation.navigation-horizontal .component-content ul.clearfix {
  list-style: none;
}
.navigation.navigation-horizontal .component-content .level0 {
  display: flex;
}
.navigation.navigation-horizontal .component-content .level0, .navigation.navigation-horizontal .component-content .level1 {
  float: left;
  margin-left: 30px;
}
.navigation.navigation-horizontal .component-content .level0 > .navigation-title > a, .navigation.navigation-horizontal .component-content .level1 > .navigation-title > a {
  border-width: 0;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (max-width: 992px) {
  .navigation.navigation-horizontal .component-content {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #3d3d3d;
    z-index: 1;
  }
  .navigation.navigation-horizontal .component-content * {
    text-align: center !important;
  }
  .navigation.navigation-horizontal .component-content nav {
    padding-top: 110px;
  }
  .navigation.navigation-horizontal .component-content nav .level0 {
    display: block;
  }
  .navigation.navigation-horizontal .component-content ul {
    margin: 0;
    padding: 0;
  }
  .navigation.navigation-horizontal .component-content .level0, .navigation.navigation-horizontal .component-content .level1 {
    float: unset;
    margin-left: 0;
  }
  .navigation.navigation-horizontal .component-content .level0 > .navigation-title > a, .navigation.navigation-horizontal .component-content .level1 > .navigation-title > a {
    font-size: 30px;
    line-height: 90px;
  }
  .navigation.navigation-horizontal .component-content .level0 > .navigation-title > a > span, .navigation.navigation-horizontal .component-content .level1 > .navigation-title > a > span {
    color: #fff;
  }
  .navigation.navigation-horizontal .menu-mobile-navigate-wrapper .menu-mobile-navigate {
    display: inline-block;
    z-index: 2;
    position: absolute;
    right: 18px;
    top: 18px;
    height: 28px;
    width: 28px;
    opacity: 0;
  }
  .navigation.navigation-horizontal .menu-mobile-navigate-wrapper .menu-mobile-navigate:checked ~ .menu-humburger::before {
    content: "×";
    color: #878787;
    font-size: 48px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 27px;
    margin-right: 18px;
    line-height: 0;
    border: 0;
  }
  .navigation.navigation-horizontal .menu-mobile-navigate-wrapper .menu-mobile-navigate:checked ~ .component-content {
    position: fixed;
    display: inline-block;
  }
  .navigation.navigation-horizontal .menu-mobile-navigate-wrapper .menu-humburger::before {
    content: "";
    width: 28px;
    height: 18px;
    margin-right: 18px;
    margin-top: 35px;
    display: block;
    border-top: 6px solid #000;
    border-bottom: 6px solid #000;
    float: right;
    z-index: 99;
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .component-content .row {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 992px) {
  .row {
    margin: 0;
    padding: 0;
  }
  .row > * {
    padding: 0;
    margin: 0;
  }
}
.hero-banner .component-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
@media only screen and (max-width: 992px) {
  .hero-banner .component-content {
    height: 300px;
  }
}
.hero-banner .sc-image-wrapper {
  opacity: 0;
}
.hero-banner.scEnabledChrome.hero-banner-empty .sc-image-wrapper {
  display: block;
  width: 100%;
}
.hero-banner.scEnabledChrome.hero-banner-empty .sc-image-wrapper .scEmptyImage {
  max-height: 800px;
  max-width: 100%;
  width: 100%;
}

.rich-text {
  font-size: 16px;
}
@media only screen and (max-width: 992px) {
  .rich-text {
    padding: 0 30px 10px 30px;
    font-size: 14px;
  }
}

/* breakpoints */
@media only screen and (max-width: 992px) {
  footer {
    padding-top: 0;
  }
}
footer .container-dark-background {
  background-color: #262626;
}
footer .contacts {
  font-size: 14px;
}
footer .contacts a {
  color: #fff;
}
footer .contacts p, footer .contacts span {
  color: #fff;
}
footer .indent-inner {
  padding: 65px;
}
@media only screen and (max-width: 992px) {
  footer .indent-inner {
    padding: 40px 0;
  }
}

/* breakpoints */
.button-default, .promo.link-button a, .default {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #f6f6f6;
  color: #747474;
}
.button-default:hover, .promo.link-button a:hover, .default:hover {
  color: #747474;
  background: #f7f7f7;
}

.button-success, .success {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #a0ce4e;
  color: #fff;
}
.button-success:hover, .success:hover {
  color: #747474;
  background: #f7f7f7;
}
.button-success:hover, .success:hover {
  color: #fff;
  background: #92be43;
}

.button-warning, .warning {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #bc4526;
  color: #fff;
}
.button-warning:hover, .warning:hover {
  color: #747474;
  background: #f7f7f7;
}
.button-warning:hover, .warning:hover {
  color: #fff;
  background: #c34e30;
}

.ui-datepicker-title select {
  color: #747474;
}

.row.column-splitter {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2.5px;
  padding-right: 2.5px;
  max-width: none;
}
.row.column-splitter > div {
  padding-left: 5px;
  padding-right: 5px;
}

/* breakpoints */
.container-wrapper {
  width: 100%;
}

.component {
  position: relative;
  padding: 0 8px;
}
@media only screen and (max-width: 1023px) {
  .component {
    padding: 0;
  }
}

.container {
  padding: 0;
}
.container.fullwidth-container {
  max-width: unset;
}
.container .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.image img {
  max-width: 100%;
  height: auto;
}
.image a {
  display: inline-block;
  max-width: 100%;
}
.image .image-caption {
  display: block;
  font-style: italic;
  font-size: 11px;
  color: #747474;
}

/* breakpoints */
.navigation {
  background: transparent;
}
.navigation ul {
  padding-left: 0;
}
.navigation .level0 > .navigation-title > a, .navigation .level1 > .navigation-title > a {
  font-size: 18px;
  border-color: #89C6CC;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-right: 10px;
  margin-right: 5px;
}
.navigation .level0 > .navigation-title > a:hover, .navigation .level1 > .navigation-title > a:hover {
  text-decoration: none;
}
.navigation a {
  color: #747474;
}
.lt-ie9 .navigation a, .lt-ie9 .navigation a span {
  color: #747474;
}
.navigation a:focus, .navigation a:hover {
  color: #747474;
}
.navigation li.submenu {
  margin-bottom: 0;
}
.navigation li > .navigation-title > a {
  padding: 3px 5px 3px 0;
  display: block;
  color: #747474;
  text-decoration: none;
}
.navigation li > ul a {
  font-size: 14px;
}
.navigation .submenu > ul {
  padding-left: 10px;
}

/* breakpoints */
.navigation.navigation-main .component-content > nav {
  position: relative;
}
.navigation.navigation-main .component-content > nav ul:after {
  content: "";
  display: table;
  clear: both;
}
.navigation.navigation-main .rel-level1 {
  float: left;
}
.navigation.navigation-main .rel-level1.active > .navigation-title > a {
  border-color: #89C6CC;
}
.navigation.navigation-main .rel-level1 > .navigation-title > a {
  border-width: 2px 0 0 0;
  border-color: transparent;
}
.navigation.navigation-main .rel-level1 > .navigation-title > a:hover {
  border-color: #89C6CC;
}
.navigation.navigation-main .rel-level1.submenu > .navigation-title a {
  position: relative;
  padding-right: 15px;
}
.navigation.navigation-main .rel-level1.submenu > .navigation-title a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  content: "\f078";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}
.navigation.navigation-main .rel-level1 > ul {
  overflow: hidden;
  display: none;
  z-index: 10;
  position: absolute;
  top: 100%;
  background: #f6f6f6;
  margin-left: 0;
  margin-top: -2px;
  border-top: 2px solid #89C6CC;
  border-left: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.navigation.navigation-main .rel-level1:active > a + ul, .navigation.navigation-main .rel-level1:hover > a + ul {
  display: block !important;
}
.navigation.navigation-main .rel-level1:active > ul, .navigation.navigation-main .rel-level1:hover > ul {
  display: block !important;
  min-width: 60px;
}
.navigation.navigation-main .rel-level1.active > .navigation-title > a:link,
.navigation.navigation-main .rel-level1.active > .navigation-title > a:visited {
  color: #878787;
}
.navigation.navigation-main .rel-level1.active > span {
  display: block;
  padding: 10px 20px;
  color: #fff;
}
.navigation.navigation-main .rel-level1.submenu.active {
  border-color: #176f89;
}
.navigation.navigation-main .rel-level2:hover, .navigation.navigation-main .rel-level2:focus {
  transition: background 0.2s ease-in;
  background: #f6f6f6;
}
.navigation.navigation-main .rel-level2 div > a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}
.navigation.navigation-main .rel-level2 div > a:hover, .navigation.navigation-main .rel-level2 div > a:focus {
  color: #222;
}
.navigation.navigation-main .rel-level2.submenu {
  box-sizing: border-box;
}
.navigation.navigation-main .rel-level2.submenu.navigation-image {
  text-align: center;
}
.navigation.navigation-main .rel-level2.submenu.navigation-image > a,
.navigation.navigation-main .rel-level2.submenu.navigation-image .field-navigationtext {
  text-align: left;
}
.navigation.navigation-main.navigation-main-horizontal .submenu > ul {
  padding-left: 0;
}
.navigation.navigation-main.navigation-main-horizontal .rel-level1:active > a + ul, .navigation.navigation-main.navigation-main-horizontal .rel-level1:hover > a + ul {
  display: inline-flex !important;
  flex-wrap: wrap;
}
.navigation.navigation-main.navigation-main-horizontal .rel-level1:active > ul, .navigation.navigation-main.navigation-main-horizontal .rel-level1:hover > ul {
  display: inline-flex !important;
  flex-wrap: wrap;
}
.navigation.navigation-main.navigation-main-horizontal .rel-level1 > ul {
  width: 100%;
  clear: both;
  left: 0;
}
.navigation.navigation-main.navigation-main-horizontal .rel-level2 {
  float: left;
  padding: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d2d2d2;
  flex-grow: 1;
  flex-basis: 23%;
}
.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul {
  padding-left: 0;
  width: auto;
  left: auto;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #d2d2d2;
}
.navigation.navigation-main.navigation-main-vertical .rel-level1 > ul > li {
  padding: 5px 10px;
}
.navigation.navigation-main.navigation-main-vertical .submenu ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  display: block;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 18px;
  transform: translateY(-50%);
  padding-left: 7px;
}

/* breakpoints */
.navigation.navigation-mobile nav > ul {
  border: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.navigation.navigation-mobile .rel-level1 {
  cursor: pointer;
  margin: 0;
  background: #FFFFFF;
}
.navigation.navigation-mobile .rel-level1 > .navigation-title {
  border-bottom: 1px solid #89C6CC;
  margin: 0;
}
.navigation.navigation-mobile .rel-level1 > .navigation-title:last-child {
  border-bottom: none;
}
.navigation.navigation-mobile .rel-level1 .navigation-title {
  padding: 10px;
}
.navigation.navigation-mobile .rel-level1 .navigation-title > a {
  text-decoration: none;
  color: #747474;
  display: inline;
}
.navigation.navigation-mobile .rel-level2 {
  display: list-item;
}
.navigation.navigation-mobile .rel-level2 .navigation-title > a {
  font-weight: 500;
}
.navigation.navigation-mobile .submenu > ul {
  padding-left: 25px;
  background: #f6f6f6;
}
.navigation.navigation-mobile .submenu > ul li {
  position: relative;
}
.navigation.navigation-mobile .submenu > ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  display: block;
  position: absolute;
  left: 0;
  font-size: 10px;
  top: 20px;
  transform: translateY(-50%);
}
.navigation.navigation-mobile .submenu > ul {
  display: none;
}
.navigation.navigation-mobile .submenu.active > .navigation-title:before {
  transform: rotate(180deg);
  transition: 0.6s;
  transform-style: preserve-3d;
}
.navigation.navigation-mobile .submenu.active > ul {
  display: block;
}
.navigation.navigation-mobile .submenu > .navigation-title {
  position: relative;
}
.navigation.navigation-mobile .submenu > .navigation-title:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f078";
  display: block;
  position: absolute;
  right: 10px;
  font-size: 10px;
  top: 20px;
  transform: translateY(-50%);
  transform: rotate(0);
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* breakpoints */
.navigation.navigation-sidebar a {
  text-decoration: none;
}
.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title {
  margin-bottom: 0;
}
.navigation.navigation-sidebar nav > ul .rel-level1 > .navigation-title > a {
  padding: 5px 10px;
  display: block;
  position: relative;
  z-index: 1;
  margin-right: 0;
}
.navigation.navigation-sidebar nav > ul .rel-level1 > ul {
  margin-left: 10px;
  margin-top: 5px;
}
.navigation.navigation-sidebar nav > ul .rel-level2 {
  display: block;
}

/* breakpoints */
.navigation.sitemap-navigation .level2 a {
  position: relative;
  padding-left: 10px;
}
.navigation.sitemap-navigation .level2 a:before {
  font-size: 14px;
  font-size: 1.4rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(-50%) scale(1, -1);
  position: absolute;
  content: "\f064";
  top: 50%;
  left: -8px;
}

/* breakpoints */
.navigation.navigation-fat {
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.navigation.navigation-fat a {
  text-decoration: none;
}
.navigation.navigation-fat nav > ul {
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
}
.navigation.navigation-fat .rel-level1 {
  margin: 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.navigation.navigation-fat .rel-level1.submenu ul a {
  position: relative;
}
.navigation.navigation-fat .rel-level1.submenu ul a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateY(-50%);
  position: absolute;
  content: "\f054";
  top: 50%;
  left: -9px;
  font-size: 10px;
}
.navigation.navigation-fat .rel-level1 > .navigation-title > a {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #89C6CC;
  border-bottom: 0;
  background: #f6f6f6;
  padding: 5px 10px;
  display: block;
  width: auto;
}
.navigation.navigation-fat .rel-level1 > .navigation-title > a:hover {
  border-color: #1b809e;
}
.navigation.navigation-fat .rel-level1 > ul {
  padding: 0;
}
.navigation.navigation-fat .rel-level2 {
  padding-left: 10px;
  display: block;
}

/* breakpoints */
.promo {
  background: #FFFFFF;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
}
.promo > .component-content {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.promo > .component-content:after {
  content: "";
  display: table;
  clear: both;
}
.promo > .component-content > div {
  padding: 5px;
}
.promo .zg-height-fix .field-promoicon {
  margin-top: 100px;
}
.promo .field-promoicon {
  overflow: hidden;
  width: 100%;
}
.promo .field-promoicon img {
  width: 100%;
  height: auto;
}
.promo .field-promolink {
  margin-top: 5px;
  padding-bottom: 10px;
}
.promo.image-full-size img {
  margin-bottom: 10px;
}
.promo h1,
.promo h2,
.promo h3,
.promo h4,
.promo h5,
.promo h6 {
  color: #222;
}
.promo h1,
.promo h2 {
  margin: 10px 0;
}
.promo h3,
.promo h4,
.promo p {
  margin: 5px 0;
}
.promo h5,
.promo h6 {
  margin: 5px 0 0;
}
.promo strong {
  font-weight: 700;
}
.promo ul,
.promo ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}
.promo li {
  font-size: 13px;
  margin-left: 15px;
}
.promo ul li {
  list-style: disc;
  list-style-position: inside;
}
.promo ol li {
  list-style: decimal;
  list-style-position: inside;
}
.promo a {
  color: #de232f;
  text-decoration: underline;
  font-size: 1em;
}
.promo a:hover {
  color: #878787;
}
.promo table {
  height: auto !important;
  border: 2px solid #d2d2d2;
}
.promo table,
.promo table tr,
.promo table th,
.promo table td {
  border: solid 2px #d2d2d2;
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}
.promo table tr,
.promo table th,
.promo table td {
  padding: 5px;
}
.promo table caption {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}
.promo table tr {
  border: none;
}
.promo table th,
.promo table td {
  border-width: 2px 0 0 2px;
}
.promo table th {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
}
.promo table th:first-child {
  border-left: 0;
}
.promo table td:first-child {
  border-left: 0;
}

/* breakpoints */
.content, .rich-text {
  border: transparent;
  line-height: 1.5;
  font-size: 12px;
  overflow: hidden;
  /* breakpoints */
}
.content *, .rich-text * {
  max-width: 100%;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6, .rich-text h1,
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  color: #222;
}
.content h1,
.content h2, .rich-text h1,
.rich-text h2 {
  margin: 10px 0;
}
.content h3,
.content h4,
.content p, .rich-text h3,
.rich-text h4,
.rich-text p {
  margin: 5px 0;
}
.content h5,
.content h6, .rich-text h5,
.rich-text h6 {
  margin: 5px 0 0;
}
.content strong, .rich-text strong {
  font-weight: 700;
}
.content ul,
.content ol, .rich-text ul,
.rich-text ol {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 10px;
}
.content li, .rich-text li {
  font-size: 13px;
  margin-left: 15px;
}
.content ul li, .rich-text ul li {
  list-style: disc;
  list-style-position: inside;
}
.content ol li, .rich-text ol li {
  list-style: decimal;
  list-style-position: inside;
}
.content a, .rich-text a {
  color: #de232f;
  text-decoration: underline;
  font-size: 1em;
}
.content a:hover, .rich-text a:hover {
  color: #878787;
}
.content table, .rich-text table {
  height: auto !important;
  border: 2px solid #d2d2d2;
}
.content table,
.content table tr,
.content table th,
.content table td, .rich-text table,
.rich-text table tr,
.rich-text table th,
.rich-text table td {
  border: solid 2px #d2d2d2;
  background: #FFFFFF;
  border-collapse: collapse;
  vertical-align: middle;
}
.content table tr,
.content table th,
.content table td, .rich-text table tr,
.rich-text table th,
.rich-text table td {
  padding: 5px;
}
.content table caption, .rich-text table caption {
  background-color: #f7f7f7;
  overflow: hidden;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
}
.content table tr, .rich-text table tr {
  border: none;
}
.content table th,
.content table td, .rich-text table th,
.rich-text table td {
  border-width: 2px 0 0 2px;
}
.content table th, .rich-text table th {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 7px;
}
.content table th:first-child, .rich-text table th:first-child {
  border-left: 0;
}
.content table td:first-child, .rich-text table td:first-child {
  border-left: 0;
}
.content .field-filetypeicon > a > span, .content .pdf, .content .xls, .content .xlsx, .content .pptx, .content .ppt, .content .docx, .content .doc, .content .bmp, .content .png, .content .jpg, .content .jpeg, .content .psd, .content .gif, .content .avi, .content .mp4, .content .wmv, .content .mov, .content .mp3, .content .wma, .content .txt, .content .zip, .rich-text .field-filetypeicon > a > span, .rich-text .pdf, .rich-text .xls, .rich-text .xlsx, .rich-text .pptx, .rich-text .ppt, .rich-text .docx, .rich-text .doc, .rich-text .bmp, .rich-text .png, .rich-text .jpg, .rich-text .jpeg, .rich-text .psd, .rich-text .gif, .rich-text .avi, .rich-text .mp4, .rich-text .wmv, .rich-text .mov, .rich-text .mp3, .rich-text .wma, .rich-text .txt, .rich-text .zip {
  display: inline-block;
  box-sizing: border-box;
  font-weight: normal;
  width: 15px;
  height: 21px;
  margin: 0;
  padding: 0;
  position: relative;
}
.content .field-filetypeicon > a > span:before, .content .pdf:before, .content .xls:before, .content .xlsx:before, .content .pptx:before, .content .ppt:before, .content .docx:before, .content .doc:before, .content .bmp:before, .content .png:before, .content .jpg:before, .content .jpeg:before, .content .psd:before, .content .gif:before, .content .avi:before, .content .mp4:before, .content .wmv:before, .content .mov:before, .content .mp3:before, .content .wma:before, .content .txt:before, .content .zip:before, .rich-text .field-filetypeicon > a > span:before, .rich-text .pdf:before, .rich-text .xls:before, .rich-text .xlsx:before, .rich-text .pptx:before, .rich-text .ppt:before, .rich-text .docx:before, .rich-text .doc:before, .rich-text .bmp:before, .rich-text .png:before, .rich-text .jpg:before, .rich-text .jpeg:before, .rich-text .psd:before, .rich-text .gif:before, .rich-text .avi:before, .rich-text .mp4:before, .rich-text .wmv:before, .rich-text .mov:before, .rich-text .mp3:before, .rich-text .wma:before, .rich-text .txt:before, .rich-text .zip:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  position: absolute;
  display: block;
  top: 50%;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
}
.content .field-filetypeicon span:before, .rich-text .field-filetypeicon span:before {
  content: "\f016";
}
.content .field-filetypeicon .pdf:before, .rich-text .field-filetypeicon .pdf:before {
  content: "\f1c1";
}
.content .field-filetypeicon .xlsx:before, .content .field-filetypeicon .xls:before, .rich-text .field-filetypeicon .xlsx:before, .rich-text .field-filetypeicon .xls:before {
  content: "\f1c3";
}
.content .field-filetypeicon .pptx:before, .content .field-filetypeicon .ppt:before, .rich-text .field-filetypeicon .pptx:before, .rich-text .field-filetypeicon .ppt:before {
  content: "\f1c4";
}
.content .field-filetypeicon .docx:before, .content .field-filetypeicon .doc:before, .rich-text .field-filetypeicon .docx:before, .rich-text .field-filetypeicon .doc:before {
  content: "\f1c2";
}
.content .field-filetypeicon .bmp:before, .content .field-filetypeicon .png:before, .content .field-filetypeicon .jpg:before, .content .field-filetypeicon .jpeg:before, .content .field-filetypeicon .psd:before, .content .field-filetypeicon .gif:before, .content .field-filetypeicon .tif:before, .rich-text .field-filetypeicon .bmp:before, .rich-text .field-filetypeicon .png:before, .rich-text .field-filetypeicon .jpg:before, .rich-text .field-filetypeicon .jpeg:before, .rich-text .field-filetypeicon .psd:before, .rich-text .field-filetypeicon .gif:before, .rich-text .field-filetypeicon .tif:before {
  content: "\f1c5";
}
.content .field-filetypeicon .avi:before, .content .field-filetypeicon .mp4:before, .content .field-filetypeicon .wmv:before, .content .field-filetypeicon .mov:before, .content .field-filetypeicon .mpg:before, .content .field-filetypeicon .mkv:before, .content .field-filetypeicon .vp6:before, .content .field-filetypeicon .vid:before, .content .field-filetypeicon .rv:before, .content .field-filetypeicon .webm:before, .content .field-filetypeicon .swf:before, .content .field-filetypeicon .flv:before, .content .field-filetypeicon .m4v:before, .content .field-filetypeicon .h264:before, .content .field-filetypeicon .mk3d:before, .content .field-filetypeicon .gifv:before, .content .field-filetypeicon .oggv:before, .content .field-filetypeicon .movie:before, .content .field-filetypeicon .divx:before, .rich-text .field-filetypeicon .avi:before, .rich-text .field-filetypeicon .mp4:before, .rich-text .field-filetypeicon .wmv:before, .rich-text .field-filetypeicon .mov:before, .rich-text .field-filetypeicon .mpg:before, .rich-text .field-filetypeicon .mkv:before, .rich-text .field-filetypeicon .vp6:before, .rich-text .field-filetypeicon .vid:before, .rich-text .field-filetypeicon .rv:before, .rich-text .field-filetypeicon .webm:before, .rich-text .field-filetypeicon .swf:before, .rich-text .field-filetypeicon .flv:before, .rich-text .field-filetypeicon .m4v:before, .rich-text .field-filetypeicon .h264:before, .rich-text .field-filetypeicon .mk3d:before, .rich-text .field-filetypeicon .gifv:before, .rich-text .field-filetypeicon .oggv:before, .rich-text .field-filetypeicon .movie:before, .rich-text .field-filetypeicon .divx:before {
  content: "\f1c8";
}
.content .field-filetypeicon .mp3:before, .content .field-filetypeicon .wma:before, .content .field-filetypeicon .wav:before, .content .field-filetypeicon .fla:before, .content .field-filetypeicon .flac:before, .content .field-filetypeicon .ra:before, .content .field-filetypeicon .rma:before, .content .field-filetypeicon .aif:before, .content .field-filetypeicon .aiff:before, .content .field-filetypeicon .aa:before, .content .field-filetypeicon .aac:before, .content .field-filetypeicon .mid:before, .content .field-filetypeicon .midi:before, .content .field-filetypeicon .aax:before, .content .field-filetypeicon .ac3:before, .content .field-filetypeicon .au:before, .content .field-filetypeicon .ogg:before, .content .field-filetypeicon .avr:before, .content .field-filetypeicon .m4a:before, .content .field-filetypeicon .mp4a:before, .content .field-filetypeicon .amz:before, .content .field-filetypeicon .mka:before, .content .field-filetypeicon .asx:before, .content .field-filetypeicon .pcm:before, .content .field-filetypeicon .m3u:before, .content .field-filetypeicon .xwma:before, .rich-text .field-filetypeicon .mp3:before, .rich-text .field-filetypeicon .wma:before, .rich-text .field-filetypeicon .wav:before, .rich-text .field-filetypeicon .fla:before, .rich-text .field-filetypeicon .flac:before, .rich-text .field-filetypeicon .ra:before, .rich-text .field-filetypeicon .rma:before, .rich-text .field-filetypeicon .aif:before, .rich-text .field-filetypeicon .aiff:before, .rich-text .field-filetypeicon .aa:before, .rich-text .field-filetypeicon .aac:before, .rich-text .field-filetypeicon .mid:before, .rich-text .field-filetypeicon .midi:before, .rich-text .field-filetypeicon .aax:before, .rich-text .field-filetypeicon .ac3:before, .rich-text .field-filetypeicon .au:before, .rich-text .field-filetypeicon .ogg:before, .rich-text .field-filetypeicon .avr:before, .rich-text .field-filetypeicon .m4a:before, .rich-text .field-filetypeicon .mp4a:before, .rich-text .field-filetypeicon .amz:before, .rich-text .field-filetypeicon .mka:before, .rich-text .field-filetypeicon .asx:before, .rich-text .field-filetypeicon .pcm:before, .rich-text .field-filetypeicon .m3u:before, .rich-text .field-filetypeicon .xwma:before {
  content: "\f1c7";
}
.content .field-filetypeicon .txt:before, .rich-text .field-filetypeicon .txt:before {
  content: "\f0f6";
}
.content .field-filetypeicon .zip:before, .content .field-filetypeicon .zipx:before, .content .field-filetypeicon .rar:before, .content .field-filetypeicon .tar:before, .content .field-filetypeicon .gz:before, .content .field-filetypeicon .dmg:before, .content .field-filetypeicon .iso:before, .rich-text .field-filetypeicon .zip:before, .rich-text .field-filetypeicon .zipx:before, .rich-text .field-filetypeicon .rar:before, .rich-text .field-filetypeicon .tar:before, .rich-text .field-filetypeicon .gz:before, .rich-text .field-filetypeicon .dmg:before, .rich-text .field-filetypeicon .iso:before {
  content: "\f1c6";
}
.content .field-filetypeicon .css:before, .content .field-filetypeicon .js:before, .content .field-filetypeicon .py:before, .content .field-filetypeicon .git:before, .content .field-filetypeicon .py:before, .content .field-filetypeicon .cpp:before, .content .field-filetypeicon .h:before, .content .field-filetypeicon .ini:before, .content .field-filetypeicon .config:before, .rich-text .field-filetypeicon .css:before, .rich-text .field-filetypeicon .js:before, .rich-text .field-filetypeicon .py:before, .rich-text .field-filetypeicon .git:before, .rich-text .field-filetypeicon .py:before, .rich-text .field-filetypeicon .cpp:before, .rich-text .field-filetypeicon .h:before, .rich-text .field-filetypeicon .ini:before, .rich-text .field-filetypeicon .config:before {
  content: "\f1c9";
}
.content .field-filetypeicon .exe:before, .content .field-filetypeicon .jar:before, .content .field-filetypeicon .dll:before, .content .field-filetypeicon .bat:before, .content .field-filetypeicon .pl:before, .content .field-filetypeicon .scr:before, .content .field-filetypeicon .msi:before, .content .field-filetypeicon .app:before, .content .field-filetypeicon .deb:before, .content .field-filetypeicon .apk:before, .content .field-filetypeicon .jar:before, .content .field-filetypeicon .vb:before, .content .field-filetypeicon .prg:before, .content .field-filetypeicon .sh:before, .rich-text .field-filetypeicon .exe:before, .rich-text .field-filetypeicon .jar:before, .rich-text .field-filetypeicon .dll:before, .rich-text .field-filetypeicon .bat:before, .rich-text .field-filetypeicon .pl:before, .rich-text .field-filetypeicon .scr:before, .rich-text .field-filetypeicon .msi:before, .rich-text .field-filetypeicon .app:before, .rich-text .field-filetypeicon .deb:before, .rich-text .field-filetypeicon .apk:before, .rich-text .field-filetypeicon .jar:before, .rich-text .field-filetypeicon .vb:before, .rich-text .field-filetypeicon .prg:before, .rich-text .field-filetypeicon .sh:before {
  content: "\f085";
}
.content .field-filetypeicon .com:before, .content .field-filetypeicon .net:before, .content .field-filetypeicon .org:before, .content .field-filetypeicon .edu:before, .content .field-filetypeicon .gov:before, .content .field-filetypeicon .mil:before, .content .field-filetypeicon .html:before, .content .field-filetypeicon .htm:before, .content .field-filetypeicon .xhtml:before, .content .field-filetypeicon .jhtml:before, .content .field-filetypeicon .php:before, .content .field-filetypeicon .php3:before, .content .field-filetypeicon .php4:before, .content .field-filetypeicon .php5:before, .content .field-filetypeicon .phtmle:before, .content .field-filetypeicon .asp:before, .content .field-filetypeicon .aspx:before, .content .field-filetypeicon .cfm:before, .rich-text .field-filetypeicon .com:before, .rich-text .field-filetypeicon .net:before, .rich-text .field-filetypeicon .org:before, .rich-text .field-filetypeicon .edu:before, .rich-text .field-filetypeicon .gov:before, .rich-text .field-filetypeicon .mil:before, .rich-text .field-filetypeicon .html:before, .rich-text .field-filetypeicon .htm:before, .rich-text .field-filetypeicon .xhtml:before, .rich-text .field-filetypeicon .jhtml:before, .rich-text .field-filetypeicon .php:before, .rich-text .field-filetypeicon .php3:before, .rich-text .field-filetypeicon .php4:before, .rich-text .field-filetypeicon .php5:before, .rich-text .field-filetypeicon .phtmle:before, .rich-text .field-filetypeicon .asp:before, .rich-text .field-filetypeicon .aspx:before, .rich-text .field-filetypeicon .cfm:before {
  content: "\f0c1";
}

.position-left,
.position-left * {
  text-align: left !important;
}

.position-right,
.position-right * {
  text-align: right !important;
}

.position-center,
.position-center * {
  text-align: center !important;
}

.position-left select {
  direction: ltr !important;
}

.position-right select {
  direction: rtl !important;
}

.position-center select {
  text-align-last: center !important;
}

/* breakpoints */
.boxed {
  box-sizing: border-box;
  margin: 20px 0;
}
@media only screen and (min-width: 381px) and (max-width: 1023px) {
  .boxed {
    padding: 10px;
  }
}
@media only screen and (max-width: 380px) {
  .boxed {
    padding: 10px;
  }
}
.boxed > div {
  max-width: 960px;
  margin: 0 auto !important;
}

/* breakpoints */
.component-content-clearfix .component-content:after {
  content: "";
  display: table;
  clear: both;
}

.component-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.highlighted-top {
  background: #ffffff;
  border-top-width: 3px;
  border-top-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-top h1,
.highlighted-top h2,
.highlighted-top h3,
.highlighted-top h4 {
  margin: 0 0 10px 0;
}

.highlighted-bottom {
  background: #ffffff;
  border-bottom-width: 3px;
  border-bottom-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-bottom h1,
.highlighted-bottom h2,
.highlighted-bottom h3,
.highlighted-bottom h4 {
  margin: 0 0 10px 0;
}

.highlighted-left {
  background: #ffffff;
  border-left-width: 3px;
  border-left-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-left h1,
.highlighted-left h2,
.highlighted-left h3,
.highlighted-left h4 {
  margin: 0 0 10px 0;
}

.highlighted-right {
  background: #ffffff;
  border-right-width: 3px;
  border-right-color: #15909c;
  border-style: solid;
  padding: 25px;
  margin: 0;
}

.highlighted-right h1,
.highlighted-right h2,
.highlighted-right h3,
.highlighted-right h4 {
  margin: 0 0 10px 0;
}

/* breakpoints */
.link-button {
  /* breakpoints */
}
.link-button .button-default, .promo.link-button a, .link-button .default {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #f6f6f6;
  color: #747474;
}
.link-button .button-default:hover, .promo.link-button a:hover, .link-button .default:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-button .button-success, .link-button .success {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #a0ce4e;
  color: #fff;
}
.link-button .button-success:hover, .link-button .success:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-button .button-success:hover, .link-button .success:hover {
  color: #fff;
  background: #92be43;
}
.link-button .button-warning, .link-button .warning {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #bc4526;
  color: #fff;
}
.link-button .button-warning:hover, .link-button .warning:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-button .button-warning:hover, .link-button .warning:hover {
  color: #fff;
  background: #c34e30;
}

.link.link-button .is-empty-hint, .link.link-button .field-link span, .link.link-button a {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.link.link-button .is-empty-hint:hover, .link.link-button .field-link span:hover, .link.link-button a:hover {
  color: #747474;
  background: #f7f7f7;
}

.promoted-box {
  border: none !important;
} /* breakpoints */
.sxa-bordered {
  box-sizing: border-box;
}
.sxa-bordered > .component-content {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  border-radius: 5px;
}

.column-splitter,
.row-splitter {
  box-sizing: border-box;
}
.column-splitter .sxa-bordered,
.row-splitter .sxa-bordered {
  padding: 5px !important;
}
.column-splitter .sxa-bordered > .component,
.column-splitter .sxa-bordered .scEmptyPlaceholder,
.row-splitter .sxa-bordered > .component,
.row-splitter .sxa-bordered .scEmptyPlaceholder {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  border-radius: 5px;
}

/* breakpoints */
.parallax-background > .component-content, .fix-background > .component-content, .cover-background > .component-content {
  background-repeat: no-repeat;
  background-size: cover;
}

.fix-background > .component-content {
  background-position: left top;
  background-attachment: fixed;
  min-height: 240px;
}

.parallax-background > .component-content {
  background-position: 50% 0;
  background-attachment: fixed;
  min-height: 240px;
}
@media only screen and (max-width: 992px) {
  .parallax-background > .component-content {
    background-attachment: scroll;
  }
}

.container-gray-background {
  background: #f7f7f7;
}

.container-clean-background {
  background: #FFFFFF;
}

.container-dark-background {
  background: #3d3d3d;
}

.container-color-background {
  background: #89C6CC;
}

.indent {
  margin: 0 40px;
}
.indent.col-xxl-12, .indent.col-xl-12, .indent.col-lg-12, .indent.col-md-12, .indent.col-12 {
  width: calc(100% - 80px);
}

.indent-top {
  margin-top: 20px;
}

.indent-bottom {
  margin-bottom: 20px;
}

.promo.absolute-bottom-link {
  position: relative;
}
.promo.absolute-bottom-link .field-promolink {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* breakpoints */
.promo.promo-hero {
  position: relative;
  text-align: center;
}
.promo.promo-hero.promo-hero-half {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 1023px) {
  .promo.promo-hero.promo-hero-half {
    float: none;
    width: 100%;
  }
}
.promo.promo-hero .field-promotext {
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.promo.promo-hero .field-promotext > a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (max-width: 1023px) {
  .promo.promo-hero .field-promotext {
    width: 100%;
    margin: 0;
  }
  .promo.promo-hero .field-promotext h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  .promo.promo-hero .field-promotext h2, .promo.promo-hero .field-promotext h3, .promo.promo-hero .field-promotext h4 {
    font-size: 20px;
    font-size: 2rem;
  }
}

/* breakpoints */
.promo-shadow {
  max-width: 960px;
  padding: 0;
  border-top-width: 3px;
  border-top-color: #89C6CC;
  border-style: solid;
  overflow: visible;
  position: relative;
}
.promo-shadow.promo {
  float: left;
}
.promo-shadow > .component-content {
  padding: 15px;
  margin: 0 0 30px 0;
}
@media only screen and (max-width: 1023px) {
  .promo-shadow > .component-content {
    margin: 0 10px 30px 10px;
  }
}
.promo-shadow > .component-content:before, .promo-shadow > .component-content:after {
  opacity: 0.7;
  box-shadow: 0 17px 10px rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: -1;
  height: 20%;
  max-height: 100px;
  max-width: 460px;
  width: 47%;
  content: "";
  bottom: 10px;
}
.promo-shadow > .component-content:before {
  left: 2%;
  transform: rotate(-3deg);
}
.promo-shadow > .component-content:after {
  right: 2%;
  transform: rotate(3deg);
}

.container-gray-background {
  background: #f7f7f7;
}

.container-clean-background {
  background: #FFFFFF;
}

.container-dark-background {
  background: #3d3d3d;
}

.container-color-background {
  background: #89C6CC;
}

.indent {
  margin: 0 40px;
}
.indent.col-xxl-12, .indent.col-xl-12, .indent.col-lg-12, .indent.col-md-12, .indent.col-12 {
  width: calc(100% - 80px);
}

.indent-top {
  margin-top: 20px;
}

.indent-bottom {
  margin-bottom: 20px;
}

/* breakpoints */
.title {
  background: transparent;
}
.title h1 > a, .title h1 > span,
.title .field-title > a,
.title .field-title > span {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #89C6CC;
  font-size: 24px;
  margin-bottom: 10px;
  color: #747474;
  line-height: normal;
  padding-bottom: 10px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.title h1 > a:hover, .title h1 > span:hover,
.title .field-title > a:hover,
.title .field-title > span:hover {
  color: #878787;
}

.image-default-size img {
  max-width: none;
  width: auto !important;
}

/* breakpoints */
.link-list {
  background: transparent;
  /* breakpoints */
}
.link-list h1, .link-list h2, .link-list h3, .link-list h4, .link-list h5, .link-list h6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #89C6CC;
}
.link-list > .component-content ul {
  background: transparent;
}
.link-list > .component-content li {
  background: transparent;
  display: block;
  font-size: 13px;
}
.link-list > .component-content li a {
  display: inline;
  color: #747474;
  position: relative;
  padding-left: 10px;
  font-size: 1em;
  text-decoration: none;
}
.link-list > .component-content li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
}
.link-list > .component-content li a:hover {
  color: #878787;
  text-decoration: none;
  border-bottom: 1px solid #89C6CC;
}
.link-list .button-default, .link-list .promo.link-button a, .promo.link-button .link-list a, .link-list .default {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #f6f6f6;
  color: #747474;
}
.link-list .button-default:hover, .link-list .promo.link-button a:hover, .promo.link-button .link-list a:hover, .link-list .default:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-list .button-success, .link-list .success {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #a0ce4e;
  color: #fff;
}
.link-list .button-success:hover, .link-list .success:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-list .button-success:hover, .link-list .success:hover {
  color: #fff;
  background: #92be43;
}
.link-list .button-warning, .link-list .warning {
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #bc4526;
  color: #fff;
}
.link-list .button-warning:hover, .link-list .warning:hover {
  color: #747474;
  background: #f7f7f7;
}
.link-list .button-warning:hover, .link-list .warning:hover {
  color: #fff;
  background: #c34e30;
}

/* breakpoints */
.link-list.list-vertical h3 {
  background: #FFFFFF;
  width: 100%;
  display: inline-block;
  padding: 3px 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d2d2d2;
}
.link-list.list-vertical a {
  border: none;
}
.link-list.list-vertical li {
  display: block;
  margin-left: 20px;
}

/* breakpoints */
.rich-text-lists ul,
.field-featurelist ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.rich-text-lists ul li,
.field-featurelist ul li {
  font-size: 13px;
  font-size: 1.3rem;
  position: relative;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px 25px;
}
.rich-text-lists ul li:before,
.field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #747474;
  text-align: center;
  content: "\f00c";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.field-featurelist ul li:before {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "FontAwesome", sans-serif;
  position: absolute;
  top: 3px;
  left: 0;
  color: #747474;
  text-align: center;
  content: "\f046";
  width: 20px;
  margin: 0 5px 0 0;
  padding: 0;
}

.media-link.file-type-icon-media-link {
  float: left;
}
.media-link.file-type-icon-media-link .field-filetypeicon {
  text-align: center;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0px;
  height: auto !important;
}

body {
  font-family: "Open Sans", Helvetica, Verdana, Tahoma, sans-serif;
  position: relative;
  overflow: auto;
  color: #747474;
  font-size: 16px;
  line-height: 1.5;
  background: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: auto !important;
}
body.on-page-editor {
  background: none !important;
}

a {
  color: #747474;
  cursor: pointer;
  font-size: 0.85em;
}
a:hover {
  color: #878787;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

ul li {
  list-style-type: none;
}

.xa-variable {
  border: 0px;
  padding: 1px;
  margin: 0px;
  background-color: #ebebe4;
  color: #545454;
  user-select: none;
  pointer-events: none;
}

#breadcrumbMenuSubcontrol_context_menu * {
  box-sizing: initial;
}

.menu-mobile-navigate {
  display: none;
}

#header, #content, #footer, .sc-empty-placeholder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.sc-jss-placeholder-error {
  background: #ff0000;
  outline: 5px solid #e36565;
  padding: 10px;
  color: #fff;
  max-width: 500px;
}
